@charset "ISO-8859-1";
.single-product{
	margin-top:70px;
	margin-left:35px;
}
.new-arrival{
	background:green;
	width:50px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	margin-top:20px;
}
.col-md-7 h2{
	color:#555;
}
.single-product .fa{
	color:orange;
}
.single-product .price{
	color:orange;
	font-size:26px;
	font-weight:bold;
	padding:20px;
	
}
.single-product .btn-primary{
	background:orange;
	color:#fff;
	font-size:15px;
	margin-left:20px;
	border:none;
	box-shdow:none !important;
}
.single-product a:hover{
	transform:scale(1.1);
}